body {
    background-color: #eee9e9; /* Fondo negro para toda la aplicación */
    color: #fff; /* Color del texto en blanco */
    margin: 0; /* Asegúrate de que no haya márgenes */
    padding-top: 80px; /* Espacio para el navbar */
}