body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./imagenes/pexels-photo-303383.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed; /* Esto mantiene el fondo estático */
    color: rgb(3, 3, 3); 
}
