@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #7D3C98; /* Fondo morado semi-transparente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar-menu {
    display: flex; /* Asegúrate de que los enlaces estén en una fila */
    margin-left: auto; /* Mueve el menú a la derecha */
}

.navbar-link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar-link:hover {
    color: #000; /* Cambia a un color brillante al pasar el ratón */
}

/* Asegúrate de que el fondo de tus páginas sea negro */
body {
    background-color: #000; /* Fondo negro para todas las páginas */
    color: #fff; /* Color del texto para que sea visible */
}
