.profile-page-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    height: 350px;
}

/* Título */
.profile-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #7D3C98; /* Morado principal */
}

/* Sección de la foto de perfil */
.profile-section {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 110px;
    margin-top: 30px;
}

/* Subtítulo de las secciones */
.profile-subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ccc; /* Texto gris claro */
}

/* Detalles del perfil */
.profile-details {
    border-top: 1px solid #444;
    padding-top: 20px;
}

.profile-details p {
    font-size: 1rem;
    margin: 10px 0;
}

.profile-details strong {
    color: #7D3C98;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .profile-page-container {
        padding: 10px; /* Menos espacio en los laterales */
        height: auto; /* Ajuste automático del alto */
    }

    .profile-title {
        font-size: 1.5rem; /* Reducir tamaño de fuente en dispositivos móviles */
    }

    .profile-section {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .profile-details {
        padding-top: 10px;
    }

    .profile-subtitle {
        font-size: 1rem; /* Reducir subtítulos */
    }

    .profile-details p {
        font-size: 0.9rem; /* Reducir tamaño del texto */
    }

    .profile-details strong {
        font-size: 1rem; /* Ajustar tamaño de texto */
    }
}
