body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    color: #9b59b6;
    font-size: 18px; 
}

body {
    width: 100%;
}


.card {
    padding: 40px; 
    border-radius: 10px;
    text-align: center;
    width: 800px; 
    margin: 0 auto;
    background-color: #fff;
    color: #3c3c3c;
}

.card h2 {
    margin-bottom: 30px;
    font-size: 24px; 
}

.card textarea {
    width: 100%;
    height: 150px; 
    margin-bottom: 30px; 
    padding: 15px; 
    border-radius: 5px;
    border: 1px solid #9b59b6;
    color: #3c3c3c;
    font-size: 16px; 
}

.card button {
    background-color: #9b59b6;
    color: #3c3c3c;
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
}

.card button:hover {
    background-color: #8e44ad;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 20px;
    }
}